<!DOCTYPE html>
<html>
  <head>
    <title>RSP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-blue font-custom">
    <div class="container text-yellow p-10">
      <h1 class="text-center">The Recruiter Sanity Project</h1>
      <br />

      <!-- Dashboard badges -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
          <div class="bg-slate-50 p-5 m-2 rounded-md flex justify-between items-center shadow bg-yellow">
            <div>
              <h3 class="font-bold text-blue">Total Applications</h3>
              <p class= "text-blue text-2xl">
                <%= Job.all.count %>
              </p>
            </div>
            <i class="fa-solid fa-users p-4 bg-gray-200 rounded-md"></i>
          </div>

          <div class="bg-slate-50 p-5 m-2 flex justify-between items-center shadow bg-yellow">
            <div>
              <h3 class="font-bold text-blue">Applications This Week</h3>
              <p class="text-blue text-2xl">
                <%= Job.weekly_count %>
              </p>
            </div>
            <i class="fa-solid fa-users p-4 bg-green-200 rounded-md"></i>
          </div>

          <div class="bg-slate-50 p-5 m-2 flex justify-between items-center shadow bg-yellow">
            <div>
              <h3 class="font-bold text-blue">Applications Today</h3>
              <p class="text-blue text-2xl">
                <%= Job.daily_count %>
              </p>
            </div>
            <i class="fa-solid fa-users p-4 bg-yellow-200 rounded-md"></i>
          </div>

          <div class="bg-slate-50 p-5 m-2 flex justify-between items-center shadow bg-yellow">
            <div>
              <h3 class="font-bold text-blue">Companies Applied To</h3>
              <p class="text-blue text-2xl">
                <%= Company.all.count %>
              </p>
            </div>
            <i class="fa-solid fa-users p-4 bg-red-200 rounded-md"></i>
          </div>
        </div>
        <br />

        <!-- search bar  -->
        <div class="mb-3">
          <div class="relative mb-4 flex w-full ">
            <input
              type="search"
              class="relative m-0 block min-w-0 flex-auto rounded border        border-solid border-neutral-300 bg-transparent        bg-clip-padding px-3 py-[0.25rem] text-base font-normal       leading-[1.6] text-neutral-700 outline-none transition      duration-200 ease-in-out focus:z-[3] focus:border-primary      focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb     (59,113,202)] focus:outline-none dark:border-neutral-600        dark:text-neutral-200 dark:placeholder:text-neutral-200        dark:focus:border-primary"
              placeholder="Search companies"
              aria-label="Search"
              aria-describedby="button-addon2" />

            <!--search icon-->
            <span
              class="input-group-text flex items-center         whitespace-nowrap rounded px-3 py-1.5 text-center         text-base font-normal text-neutral-700        dark:text-neutral-200"
              id="basic-addon2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-5 w-5">
                <path
                  fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0        1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.      329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd" />
              </svg>
            </span>
          </div>
        </div>

      <br />
        <!-- body -->
      <%= yield %>
    </div>
  </body>
</html>
